.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.description {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}
.job-skill {
  background-color: #95b9dd;
  margin: 5px;
  height: 25px;
  border-radius: 15px;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
}
.wrap-job-skill {
  display: flex;
  justify-content: flex-start;
}
.job-detail-skill {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #95b9dd;
  margin: 10px;
  border-radius: 15px;
}
.wrap-job-detail-skill {
  display: flex;
  justify-content: flex-start;
}
